h1 {
    text-align: center;
    color: aqua;
    font-size: 400%;
    font-style: italic;
}

.wrapper {
    margin: 0% auto;
    width: 75%;
    background-color: darkgrey;
}

.main-div {
    display: grid;
    grid-template-columns: 50% 50%;

}

.manju-signup {
    margin-left: 5%;
}

.manju-login {
    margin-left: 18%;
}

input[type=username] {
    font-size: 250%;
    padding: 1%;
    font-weight: 400;
    margin-block-end: 2%;
}

input[type=email] {
    font-size: 250%;
    padding: 1%;
    font-weight: 400;
    margin-block-end: 2%;
}

input[type=password] {
    font-size: 250%;
    padding: 1%;
    font-weight: 400;
    margin-block-end: 2%;
}

.terms-div {
    font-size: 100%;
}

input[type=button] {
    background-color: darkblue;
    color: white;
    font-size: 150%;
    padding: 2%;
    border-radius: 8%;
}

input[name=button-2] {
    background-color: aqua;
    color: white;
    font-size: 150%;
    padding: 2%;
    border-radius: 8%;
}